<h2>🐶 Animales en adopción</h2>

<div class="contenedor-general">
  
  <div class="contenedor-animal">
        @for (animal of animales; track animal.id){
          <div class="contenedor-texto">
          <p>{{animal.nombre}} - {{animal.especie}}</p>

          @if (animal.adoptado === true){
          <p>adoptado</p>
          }
          <p>en adopcion</p>

          {{animal.descripcion}}
          </div>

          @if ( animal.especie == 'Perro' ) {
          <img src="imgs/foto2.jpg" alt="">
          } @else {
          <img src="imgs/foto1.jpg" alt="">
          }

        }
  </div>

</div> 
