<section>

  <div class="contenedor-titulo">
    <h2>Animales en adopción</h2>
  </div>
  
  <div class="contenedor-gral">

        @for (animal of animales; track animal.id){
        <div class="contenedor-animal">

          <div class="contenedor-texto">
          <b>{{animal.nombre}}</b><p>{{animal.especie}}</p>

          @if (animal.adoptado === true){
          <p>adoptado</p>
          }
          <b>en adopcion</b>

          <div class="contenedor-desc">
            {{animal.descripcion}}
          </div>

          @if (logueado) {
                      <button class="btn-eliminar" (click)="eliminar(animal.id)" >eliminar publicacion</button>

          }
          </div>

          <img src="{{animal.fotoUrl}}" alt="">
          
        </div>

        }

  </div> 

</section>