.redes {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.redes i {
  font-size: 50px;
  color: #000;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.redes i:hover {
  transform: scale(1.2);
}


.contenedor-contactanos {
display: flex;
align-items: center;
justify-content: center;
    
}

@media (max-width: 768px) {
  .redes {
    gap: 20px;
  }

  .redes i {
    font-size: 36px;
  }


}

