.contenedor-principal {
    margin: 10px 50px 0 70px;
}

.contenedor-fondo img {
    width: 100%;
    height: 600px;
}

.contenedor-mision {
    margin-top: -5px;
    background-color: #FD9B10;
    display: grid;
    justify-content: center;
}

.contenedor-mision h2 {
    font-size: 50px;
}

.contenedor-img img {
    width: 100%;
    height: fit-content;
}

.contenedor-texto-mision .contenedor-texto p {
    background-color: #FFDDAC;
    margin-top: -5px;
    font-size: 30px;
}

.contenedor-adopta .contenedor-img {
    margin-top: -30px;
}

.contenedor-texto-adopta {
    background-color: #6470864D;
    margin-top: -70px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}